/.DS_Store
/.vscode
/Assignment1
/Assignment1_backup
/Assignment2
/Assignment2_backup
/Grace Lee_Assignment1.zip
/Grace Lee_Assignment2.zip
/Lab1
/Lab1.zip
/Lab2-1.zip
/Lab2-2
/Lab2-2.zip
/Lab3
/Lab3.zip
/Lab4-1
/Lab4-1.zip
/Lab4-2
/Lab4-2.zip
/Project
/Project1
/Project1.zip
/Project1_Grace.zip
/Project1_backup
/Template
/Week1
/Week1.zip
/Week11
/Week10
/Week2
/Week3
/Week4
/Week5
/Week6
/Week9
/ch01
/lab5
/lab5 2
/lab5.zip
/lab6
/lab6_backup